<link rel="import" href="./rotate.html">
<template id="pdca-rotate">
  <style>
    :host {
      width: 200px;
      height: 200px;
      display: inline-block;
    }

    #spinner {
      display: inline-block;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .child-spinner {
      display: inline-block;
      position: absolute;
      font-size: 2rem;
      width: 4rem;
      line-height: 4rem;
      background: #444;
      color: #EEE;
      text-align: center;
      border-radius: 50%;
    }

    .p {
      top: 10px;
      left: 10px;
    }
    .d {
      top: 10px;
      right: 10px;
    }
    .c {
      bottom: 10px;
      right: 10px;
    }
    .a {
      bottom: 10px;
      left: 10px;
    }
  </style>
  <rotate-box id="spinner">
    <rotate-box class="child-spinner p">P</rotate-box>
    <rotate-box class="child-spinner d">D</rotate-box>
    <rotate-box class="child-spinner c">C</rotate-box>
    <rotate-box class="child-spinner a">A</rotate-box>
  </rotate-box>
</template>

<script>
  !function(){
    const pdcaDoc = document.currentScript.ownerDocument;

    customElements.define('pdca-rotate',
      class extends HTMLElement {
        static get observedAttributes() {return ['rotate-direction', 'rpm']; }

        get rotateDirection() {
          return this.getAttribute('rotate-direction');
        }

        set rotateDirection(val) {
          if (val) {
            this.setAttribute('rotate-direction', val);
          } else {
            this.removeAttribute('rotate-direction');
          }
        }

        get rpm() {
          return this.getAttribute('rpm');
        }

        set rpm(val) {
          if (val) {
            this.setAttribute('rpm', val);
          } else {
            this.removeAttribute('rpm');
          }
        }

        constructor() {
          super();
          this.attachShadow({ mode: 'open' });
          const template = pdcaDoc.getElementById('pdca-rotate').content;
          this.shadowRoot.appendChild(template.cloneNode(true));
          this.initialize();
        }

        attributeChangedCallback() {
          this.initialize();
        }

        initialize() {
          const spinnerDirection = this.rotateDirection === 'reverse' ? 'reverse' : 'normal';
          const spinnerChildrenDirection = spinnerDirection === 'reverse' ? 'normal' : 'reverse';
          const rps = 60 / this.rpm;

          const spinner = this.shadowRoot.getElementById('spinner');
          spinner.style.setProperty('--rotate-direction', spinnerDirection);
          spinner.style.setProperty('--rotate-speed', `${rps}s`);

          this.shadowRoot.querySelectorAll('.child-spinner').forEach(el => {
            el.style.setProperty('--rotate-direction', spinnerChildrenDirection);
            el.style.setProperty('--rotate-speed', `${rps}s`);
          });
        }
      }
    );
  }();
</script>
